<!DOCTYPE html>
<html>
  <head>
    <title>Your tickets</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%  isJourneyRoute = true %>

    <%- include('header') %>

    <div class="homepage-container">
        <h2>My Last Trips :</h2>
        <table>
            <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Journey</th>
                  <th scope="col">Date</th>
                  <th scope="col">Departure Time</th>
                  <th scope="col">Price</th>
                </tr>
              </thead>
              <tbody>
                  <% dataCardTrain.forEach(trip => { %>
                    <tr>
                        <td>1</td>
                        <td><%= trip.departure %> / <%= trip.arrival %></td>
                        <td><%= formateDate(trip.date) %></td>
                        <td><%= trip.departureTime %></td>
                        <td><%= trip.price %> €</td>
                    </tr>
                  <% })%>

              </tbody>
        </table>

        <a href="/homepage"><button class="btn confirm-btn">Home</button></a>

    </div>
    <img src="/images/galaxy.jpg" alt="" class="bg-img">

  </body>
</html>
