<!DOCTYPE html>
<html>
  <head>
    <title>Your tickets</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%  isJourneyRoute = true %>

    <%- include('header') %>

    <div class="homepage-container">
        <h2>My tickets :</h2>
        <table>
            <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Journey</th>
                  <th scope="col">Date</th>
                  <th scope="col">Departure Time</th>
                  <th scope="col">Price</th>
                </tr>
              </thead>
              <tbody>
                  <% let total = 0 %>
                  <% dataCardTrain.forEach(trip => { 
                    total += trip.price %>
                    <tr>
                        <td>1</td>
                        <td><%= trip.departure %> / <%= trip.arrival %></td>
                        <td><%= formateDate(trip.date) %></td>
                        <td><%= trip.departureTime %></td>
                        <td><%= trip.price %> €</td>
                    </tr>
                  <% })%>

                  <tr class='total-row'>
                      <td>Total</td>
                      <td colspan="3"></td>
                      <td><%= total %> €</td>
                  </tr>
              </tbody>
        </table>

        <!-- <a href="#"><button class="btn confirm-btn">Confirm</button></a> -->

        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Confirm
        </button>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmation commande</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <table>
                  <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Journey</th>
                        <th scope="col">Date</th>
                        <th scope="col">Departure Time</th>
                        <th scope="col">Price</th>
                      </tr>
                    </thead>
                    <tbody>
                        <% let totalBasket = 0 %>
                        <% dataCardTrain.forEach(trip => { 
                          totalBasket += trip.price %>
                          <tr>
                              <td>1</td>
                              <td><%= trip.departure %> / <%= trip.arrival %></td>
                              <td><%= formateDate(trip.date) %></td>
                              <td><%= trip.departureTime %></td>
                              <td><%= trip.price %> €</td>
                          </tr>
                        <% })%>
      
                        <tr class='total-row'>
                            <td>Total</td>
                            <td colspan="3"></td>
                            <td><%= totalBasket %> €</td>
                        </tr>
                    </tbody>
              </table>
      
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <a href='./order-confirm?trains=<%= JSON.stringify(dataCardTrain) %>'><button type="button" class="btn btn-primary">Confirmer</button></a>
              </div>
            </div>
          </div>
        </div>

    </div>
    <img src="/images/galaxy.jpg" alt="" class="bg-img">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  </body>
</html>
