<!DOCTYPE html>
<html>
  <head>
    <title>Trains</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <%- include('header') %>

    <div class="homepage-container">
        <h2>Tickets available on <%= formateDate(date) %> :</h2>
        <ul class='trips'>

            <% searchTrains.forEach(train => { %>
                <li class="trip-field">
                    <div class="cities"><%=train.departure %> / <%=train.arrival %></div>
                    <div class="departure">Departure at <%=train.departureTime %></div>
                    <div class="price"><%=train.price %> €</div>
                    <a href="journeys/tickets?tripId=<%= train.id%>"><button class="btn">OK</button></a>
                </li>
            <% }) %>

        </ul>
    </div>
  </body>
</html>
